<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <title>{{ kanji.character }}</title>
        <meta charset="utf-8">
    </head>
    <body>
        <p style="font-size: 200px; margin-top: 0px; margin-bottom: 0px;">{{ kanji.character }}</p>
        <p>On'yomi readings:
        {% for reading in kanji.onyomis %}
            {% if not forloop.first %},&nbsp;{% endif %}
            {{ reading }}
        {% endfor %}
        </p>
        <p>Kun'yomi readings:
        {% for reading in kanji.kunyomis %}
            {% if not forloop.first %},&nbsp;{% endif %}
            {{ reading }}
        {% endfor %}
        </p>
    </body>
</html>


