<!DOCTYPE html>
<html lang="en">
    <head>
        <title>文 - {{ section_name }}</title>
        <meta charset="utf-8">
        <link href="static/bootstrap/css/bootstrap.css" rel='stylesheet'/>
        <link href="static/common.css" rel='stylesheet'/>
        {% block css_includes %}
        <link href="static/{{ section_name|lower }}.css" rel='stylesheet'/>
        {% endblock %}
        <script src="static/js/jquery-1.7.1.min.js"></script>
        <script src="static/js/knockout-2.1.0.debug.js"></script>
        <script src="static/bootstrap/js/bootstrap.js"></script>
        <script src="static/js/bootbox.js"></script>
        <script src="static/common.js"></script>
        {% block js_includes %}
        <script src="static/{{ section_name|lower }}.js"></script>
        {% endblock %}
        {% block head-end %}{% endblock %}
    </head>
    <body>
        <div id='mb-navbar'>
            <div id="mb-navbar-content">
                <div id="mb-logo">文</div>
                <ul>
                    <li class="{% if section_name == 'Train' or section_name == 'Search' %}active{% endif %}"><a href="train">Train</a></li>
                    <li class="{% if section_name == 'Known Kanji' %}active{% endif %}"><a href="known_kanji">Known Kanji</a></li>
                    <li class="{% if section_name == 'History' %}active{% endif %}"><a href="history">History</a></li>
                    <li class="{% if section_name == 'Review' %}active{% endif %}"><a href="review">Review</a></li>
                </ul>
                <div id="mb-username">
                    <div>USER</div>
                    <div>{{ username }}</div>
                </div>
            </div>
        </div>
        <div id="main-content" class='container-fluid main'>
            <div>
                {% block content %}{% endblock %}
            <div>
        </div>
    </body>
</html>

