.sentence {
    /* set to 0 to avoid the spaces inserted
    between inline-block elements when two tags
    are printed in different lines by Knockout */
    word-spacing: -0.26em;
}

.literal {
    font-size: 1em;
}

.word, .sub-word, .literal {
    display: inline-block;
}

.word {
    transition-property: margin-left, margin-right;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    -webkit-transition-property: margin-left, margin-right;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    margin-left: 0;
    margin-right: 0;
}

.word:first-child {
    margin-left: 0;
}

.word:last-child {
    margin-right: 0;
}

.word.reading-aid {
    margin-left: 0.15em;
    margin-right: 0.15em;
}

.literal a {
    text-decoration: none;
    color: black;
}

.kanji a {
    text-decoration: none;
    cursor: pointer;
    color: #440000;
}

.furigana {
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    font-size: 0.40em;
    margin-bottom: -0.12em;
    color: #AAA;
    text-align: center;
    opacity: 0;
}

.furigana.reading-aid {
    opacity: 1;
}

.furigana::-moz-selection { background: transparent; }

.translation {
    font-size: 1.6em;
}

