{% extends "base.html" %}

{# TMP: until I define a filter for underscorizing spaces #}
{% block css_includes %}
<link href="static/known_kanji.css" rel='stylesheet'/>
{% endblock %}
{% block js_includes %}
<script src="static/js/bootstrap-contextmenu.js"></script>
<script src="static/known_kanji.js"></script>
{% endblock %}
{# ENDTMP :D #}
 
{% block content %}
<h1>Known Kanji</h1>
<div style='margin-top: 2em;'>
    <p>These are the all of the Jouyou Kanji ordered by the Kolivas index. Go through the different pages to see them all. Click each kanji to mark it as known/unknown and click the Update button to save the changes. Right click on a Kanji to see additional options.</p>
</div>

<div id="kanji-list" data-bind="foreach: kanjis">
    <span class="kanji"> 
        <a href="#" data-toggle="context" data-target="#context-menu" style="position: relative"
           data-bind="text: literal, css: { known: known, updated: hasChanged }, click: toggleKnown,
                      event: { contextmenu: function() { $root.contextMenuClick($root, $data); } }"></a>
    </span>
</div>

<div id="navigator" data-bind="with: navigator">
    <a id="prev" href="#" data-bind="click: previousClicked, css: { disabled: $root.currentPage() == 1 }">&lt;&lt; prev</a>
    <!-- ko foreach: pages -->
    <a href="#" data-bind="text: number, css: { active: active }, click: clicked"></a>
    <span data-bind="if: number < 12">|</span>
    <!-- /ko -->
    <a id="next" href="#" data-bind="click: nextClicked, css: { disabled: $root.currentPage() == 12 }">next &gt;&gt;</a>
</div>

<div class="controls">
    <div class="btn-group">
        <a id="btn-update" class='btn btn-primary' href='#' data-bind="click: updateClicked">
            <i class="icon-ok icon-white"></i>&nbsp;&nbsp;Update
        </a>
    </div>
</div>

<div id="context-menu">
    <ul class="dropdown-menu" role="menu" data-bind="foreach: $root.contextMenu">
        <li><a tabindex="-1" href="#" data-bind="text: actionName, click: $data.action,
                                                 attr: { href: $data.actionLink || '',
                                                         target: $data.actionTarget || '' }"></a></li>
    </ul>
</div>

{% endblock %}
        
