{% extends "base.html" %}

{# TMP: until I define a filter for underscorizing spaces #}
{% block css_includes %}
<link href="static/known_kanji.css" rel='stylesheet'/>
{% endblock %}
{% block js_includes %}
<script src="static/known_kanji.js"></script>
{% endblock %}
{# ENDTMP :D #}
 
{% block content %}
<h1>Known Kanji</h1>
<div style='margin-top: 2em;' class='container'>
    <p>These are all of the Jouyou Kanji:</p>
</div>

<div id="controls" class="container">
    <div class="btn-group">
        <a id="btn-update" class='btn btn-primary' href='#'>Update</a>
    </div>
</div>

<div id="kanji-list" class="container">
    {% for k in kanjis %}
    <a class="kanji{{ k.known|yesno:' known,' }}" href="#">{{ k.literal }}</a>
    {% endfor %} 
</div>
{% endblock %}
        
