{% extends "base.html" %}

{% block content %}
<h1>Learned sentences</h1>
<div style='margin-top: 2em;' class='container'>
    <p>These are the sentences learned up to the moment:</p>
</div>
<div id="sentences" class="container">
    {% for s in sentences %}
    <div>
        <div class="date">
            <div>{{ s.learned_date|date:"d M" }}</div>
            <div>{{ s.learned_date|date:"Y" }}</div>
        </div>
        <span class="bun">{{ s.text }}</span>
    </div>
    {% endfor %} 
</div>
{% endblock %}

