{% extends "base.html" %}

{% block content %}
<h1>Review sentences</h1>
<div style='margin-top: 2em;'>
    <p>Click the <em>Next Sentence</em> button to get a new learned sentence, randomically.</p>
</div>
<div id="sentence-content" class='container-fluid' data-bind="with: sentence">
    <div class="bun">
        <div class="sentence" data-bind="foreach: parsedStructure">
            <div class="word" data-bind="foreach: $data, css: { 'reading-aid': $parent.readingAidEnabled() }">
                <div class="sub-word">
                    <div class="furi-wrapper">
                        <div class="furigana" data-bind="text: pron, css: { 'reading-aid': $parents[1].readingAidEnabled() }"></div>
                    </div>
                    <!-- ko foreach: chars -->
                        <div class="literal" data-bind="text: $data, css: { kanji: isKanji($data) }"></div>
                    <!-- /ko -->
                </div>
            </div>
        </div>
        <div class="translation" data-bind="text: translation, css: { shown: showTranslation }"></div>
    </div>
</div>
<div id="controls">
    <div class="btn-group">
        <a id="btn-next" class='btn btn-primary' href='#' data-bind='click: getRandomSentence'>
            <i class="icon-chevron-right icon-white"></i>&nbsp;&nbsp;Next Sentence
        </a>
        <a id="btn-hint" class='btn' href='#' data-bind='click: showHint, text: hintButtonText'></a>
    </div>
</div>
{% endblock %}

