{% extends "base.html" %}

{% block js_includes %}
<script src="static/train.js"></script>
<script src="static/js/sammy.js"></script>
{% endblock %}

{% block content %}
<div id="search-view" data-bind="with: searchViewModel">
    <h1>Search</h1>
    <div style='margin-top: 2em;'>
        Search for a Kanji to train:
    </div>
    <div id='center'>
        <form class="form-search">
            <div class="input-append">
                <input id='kanji-input' type="text" class="span2 search-query" data-bind="value: searchQuery">
                <button type="submit" id='btn-search' class="btn btn-primary" data-bind="click: doSearch">
                    <i class="icon-search icon-white"></i>&nbsp;&nbsp;Search
                </button>
            </div>
        </form>
    </div>
</div>
<div id="train-view" data-bind="with: trainViewModel">
    <h1>Training Kanji: <span data-bind="text: kanji"</span></h1>
    <div style='margin-top: 2em;'>
        <p>Click the <em>Next Sentence</em> button to get the next sentence availible for the Kanji.<br/>
        Click the <em>Edit</em> button modify the sentence and its furigana, and <em>Reset</em> to restore it.<br/>
        Click <em>Learn</em> to save it, after clicking the Kanjis to select the pronunciation, and <em>Listen</em> to hear it.</p>
    </div>
    <div id="sentence-content" class='container-fluid' data-bind="with: sentence">
        <div class="bun">
            <div class="sentence" data-bind="foreach: parsedStructure">
                <div class="word" data-bind="foreach: $data, css: { 'reading-aid': $parent.readingAidEnabled() }">
                    <div class="sub-word">
                        <div class="furi-wrapper">
                            <div class="furigana" data-bind="text: pron, css: { 'reading-aid': $parents[1].readingAidEnabled() }"></div>
                        </div>
                        <!-- ko foreach: chars -->
                            <div class="literal" data-bind="css: { kanji: isKanji($data) }">
                                <a data-bind="text: $data, bootstrapPopover : { if: isKanji($data), template: 'popup-template', title: 'Pronunciations' }"></a>
                            </div>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
            <div class="translation" data-bind="text: translation, css: { shown: showTranslation }"></div>
        </div>
    </div>
    <div id="controls">
        <div class="btn-group">
            <a id="btn-next" class='btn btn-primary' href='#' data-bind='click: onNextSentence, css: { disabled: nextSentenceDisabled }'>
                <i class="icon-chevron-right icon-white"></i>&nbsp;&nbsp;Next Sentence
            </a>
            <a id="btn-edit" class='btn' href='#' data-bind='click: onEdit'><i class="icon-pencil"></i>&nbsp;&nbsp;Edit</a>
            <a id="btn-reset" class='btn' href='#' data-bind="click: onReset"><i class="icon-repeat"></i>&nbsp;&nbsp;Reset</a>
            <a id="btn-listen" class='btn btn-warning' href='#' data-bind="click: onListen"><i class="icon-volume-up icon-white"></i>&nbsp;&nbsp;Listen</a>
            <a id="btn-learn" class='btn btn-success' href='#' data-bind='click: onLearnSentence'><i class="icon-thumbs-up icon-white"></i>&nbsp;&nbsp;Learn</a>
        </div>
    </div>
</div>

<script id="popup-template" type="text/html">
    <div data-bind="with: $parents[3].pronunciations[$data]">
        <div class="pron-title">on'yomi</div>
        <div data-bind="foreach: ON">
            <a class="pro-option" data-bind="text: pronunciation, click: toggleSelected, css: { selected: selected }" href="#"></a>
            <div class="pro-separator">, </div>
        </div>
        <div class="pron-title">kun'yomi</div>
        <div data-bind="foreach: KN">
            <a class="pro-option" data-bind="text: pronunciation, click: toggleSelected, css: { selected: selected }" href="#"></a>
            <div class="pro-separator">, </div>
        </div>
    </div>
</script>
{% endblock %}

