{% extends "base.html" %}

{% block content %}
<h1>Training Kanji: {{ kanji }}</h1>
<div style='margin-top: 2em;' class='container'>
    <p>Click the <em>Next Sentence</em> button to get the next sentence availible for the Kanji.<br/>
    Select separeted words and click <em>Join selected as word</em> to join them as one word.<br/>
    Double click on a <em>furigana</em> reading to edit it, and press the Enter key when done.</p>
</div>
<div id="sentence" class='container-fluid'></div>
<div id="translation">Loading sentence...</div>
<div id="controls">
    <div class="btn-group">
        <a id="btn-next" class='btn btn-primary' href='#'>Next Sentence</a>
        <a id="btn-join" class='btn' href='#'>Join selected as word</a>
        <a id="btn-reset" class='btn' href='#'>Reset</a>
        <a id="btn-learn" class='btn btn-success' href='#'>Learn</a>
    </div>
</div>
{% endblock %}

