<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <title>文 - Practice Kanji by Sentencing</title>
        <meta charset="utf-8">
        <script src="static/js/jquery-1.7.1.min.js"></script>
        <script src="static/bootstrap/js/bootstrap.js"></script>
        <link href="static/bootstrap/css/bootstrap.css" rel='stylesheet'/>
        <link href="static/app.css" rel='stylesheet'/>
        <script src="static/app.js"></script>
    </head>
    <body>
        <div class='container-fluid main'>
            <h1>Sentence Grabber</h1>
            <div style='margin-top: 2em;' class='container'>
                <p>Click the <em>Next Sentence</em> button to get the next sentence availible for the Kanji.<br/>
                Select separeted words and click <em>Join selected as word</em> to join them as one word.<br/>
                Double click on a <em>furigana</em> reading to edit it, and press the Enter key when done.</p>
            </div>
            <div id="sentence" class='container-fluid'></div>
            <div id="translation">Loading sentence...</div>
            <div id="controls">
                <div class="btn-group">
                    <a id="btn-next" class='btn btn-primary' href='#'>Next Sentence</a>
                    <a id="btn-join" class='btn' href='#'>Join selected as word</a>
                    <a id="btn-reset" class='btn' href='#'>Reset</a>
                    <a id="btn-learn" class='btn btn-success' href='#'>Learn</a>
                </div>
            </div>
        </div>
    </body>
</html>


