@import url("sentence.css");

.container {
    max-width: 700px;
}

#sentences {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: left;
    font-size: 2em;
}

.date {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #666;
    border-bottom: solid #CCC 1px;
    margin-bottom: 0em;
    margin-top: 2em;
}

.bun {
    padding-left: 0.4em;
    padding-bottom: 0.5em;
    padding-top: 0.1em;
    border-bottom: solid #DDD 1px;
}

.bun:nth-child(even) {
    background: #EEEEEE;
}

.bun:nth-child(odd) {
    background: #E6E6E6;
}

.translation.shown {
    margin-bottom: 0em;
}

.sentence {
    cursor: pointer;
}

