.container {
    max-width: 700px;
}

#sentences {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: left;
    font-size: 2em;
}

.date {
    font-size: 10px;
    text-align: right;
    color: gray;
    float: left;
    border-right: solid #CCC 1px;
    padding-right: 10px;
    margin-top: 18px;
    min-width: 32px;
}

.bun {
    margin-left: 32px;
}

