.container {
    max-width: 700px;
}

#sentences {
    margin-top: 1em;
    text-align: left;
    font-size: 2em;
}

.date {
    font-size: 10px;
    text-align: center;
    color: gray;
    float: left;
    border-right: solid #CCC 1px;
    padding-right: 10px;
    margin-top: 18px;
}

.bun {
    margin-left: 50px;
}

