.literal {
    font-size: 1em;
    margin-top: 0.4em;
}

.word, .sub-word, .literal {
    display: inline-block;
}

.word {
    transition-property: margin-left, margin-right;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    -webkit-transition-property: margin-left, margin-right;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    margin-left: 0;
    margin-right: 0;
}

.literal {
    margin-left: -0.15em;
    margin-right: -0.15em;
}

.word.reading-aid {
    margin-left: 0.22em;
    margin-right: 0.22em;
}

/* the first word doesn't change it's left margin, ever */
.word:first-child {
    margin-left: 0.08em;
}

.kanji {
    color: #440000;
}

.furi-wrapper {
    width: 0;
    height: 0;
    margin-left: auto;
    margin-right: auto;
}

.furigana {
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    opacity: 0;
    font-size: 0.40em;
    color: #999;
    text-align: center;
    position: relative;
    width: 4em;
    left: -2em;
    margin-bottom: -0.12em;
}

.furigana.reading-aid {
    opacity: 1;
}

.translation {
    transition-property: opacity, height, margin-top, margin-bottom;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    -webkit-transition-property: opacity, height, margin-top, margin-bottom;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    font-size: 0.6em !important;
    margin: 0;
    height: 0;
    opacity: 0;
}

.translation.shown {
    opacity: 1;
    height: 1.4em;
    margin-top: 0.4em;
    margin-bottom: 1em;
}

